.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paddingZero {
  padding: 0px;
  overflow-y: scroll;
  text-align: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.paddingZero::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.paddingZero {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.card {
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(181,181,181,1) !important;
-moz-box-shadow: 0px 1px 6px 0px rgba(181,181,181,1) !important;
box-shadow: 0px 1px 6px 0px rgba(181,181,181,1) !important;
}
/* .cart {
  background-color: transparent !important;
  border: none !important;
  padding: 0px 10px 15px 10px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),
  #ffffff);
  animation: Slide_Up 0.5s ease-in;
} */

.cart {
  position: fixed;
  z-index: 300;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent !important;
  border: none !important;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),
  #ffffff);
  padding: 0px 10px 10px 10px;
  animation: Slide_Up 0.5s ease-in;
}
.cart-data {
  width: 100%;
  height: 50px;
  background-color: #a23530 !important;
}

@keyframes Slide_Up {
	0%{
		transform: translateY(100px);
	}
	100%{
		transform: translateY(0px);
	}
}

.lettercircle {
  background-color: #333;
  color: #fff;
  padding: 14px 19px;
  border-radius: 50%;
  font-size: 12px;
  display: inline;
  vertical-align: middle;
}

.lettercircle2 {
  background-color: #333;
  color: #fff;
  padding: 15px 16px;
  border-radius: 50%;
  font-size: 12px;
  display: inline;
  vertical-align: middle;
}
.lettercircle3 {
  background-color: white;
  color: #333;
  padding: 14px 19px;
  border-radius: 50%;
  font-size: 12px;
  display: inline;
  vertical-align: middle;
}
.lettercircle4 {
  background-color: white;
  color: #333;
  padding: 14px 16px;
  border-radius: 50%;
  font-size: 12px;
  display: inline;
  vertical-align: middle;
}
#div > ul {
  padding: 0;
  display: inline;
  vertical-align: middle;
  line-height: 45px;
}
#div > ul > li {
  list-style: none;
  padding: 10px;
  text-transform: uppercase;
  display: inline;
}
.card-control {
  padding: 60px 30px 30px 30px;
  height: 100vh;
  border-radius: 10px !important;
  animation: Slide_Up_Address 0.5s ease-in;
}
.MuiOutlinedInput-input {
  padding: 8px 0px 8px 35px !important;
}
.result-data {
  padding: 10px 0px 0px 0px;
  background-color: white;
}
.result-data:hover {
  padding: 10px 0px 0px 0px;
  color: white;
  background-color: #6e7679;
}

@keyframes Slide_Up_Address {
	0%{
		transform: translateY(500px);
	}
	100%{
		transform: translateY(0px);
	}
}